@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

.button{
    border: 1px solid blue;

}
.ok{
    background-color: hsl(100, 100%, 50%);
}
.not{
    background-color: hsl(100, 100%, 50%);
}